{% extends 'base.html' %}

{% block content %}

<div style="border: 2px #000;">
    <h1>Django File Structure</h1>
    <h2>manage.py</h2>
    <p>Main command file used to run the server, create apps, and manage the project.</p>

    <h2>mysite</h2>
    <p>The main project folder created by Django.</p>

    <h2>setting.py</h2>
    <p>Stores project settings like installed apps, database, and templates.</p>

    <h2>urls.py</h2>
    <p>Controls which URL goes to which view.</p>

    <h2>personals and templates</h2>
    <p> - Your app folder where you write your own code.</p>
    <p> - Where HTML files go if you want to make webpages.</p>

    <h2>views.py</h2>
    <p>Contains functions like this one that decide what to show to the user.</p>

    <h2>models.py</h2>
    <p>Used to create database tables and data structure.</p>

    <h2>In short:</h2>
    <p> URL -> View -> Response</p>

</div>

{% endblock content %}